.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -150px;
	margin-bottom: -50px;
}

#u481
{
	z-index: 2;
	width: 1159px;
	padding-bottom: 32px;
	left: -100px;
}

#u481_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u453-5
{
	z-index: 36;
	width: 282px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 119px;
}

#u485
{
	z-index: 3;
	width: 1160px;
	padding-bottom: 4px;
	left: -100px;
	top: -2px;
}

#u485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#menuu390
{
	z-index: 17;
	width: 658px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 369px;
}

#u415
{
	width: 167px;
	min-height: 38px;
	margin-right: -10000px;
}

#u418
{
	width: 86px;
	padding-left: 40px;
	padding-right: 41px;
	padding-bottom: 2px;
}

#u418:hover
{
	margin: 0px;
}

#u418:active
{
	margin: 0px;
}

#u421-4
{
	width: 86px;
	min-height: 36px;
}

#u418:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#u418:active #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#u391
{
	width: 274px;
	min-height: 38px;
	margin-right: -10000px;
	left: 181px;
}

#u394
{
	width: 193px;
	padding-left: 40px;
	padding-right: 41px;
	padding-bottom: 2px;
}

#u418.MuseMenuActive,#u394:hover
{
	margin: 0px;
}

#u394:active
{
	margin: 0px;
}

#u396-4
{
	width: 193px;
	min-height: 36px;
}

#u418.MuseMenuActive #u421-4,#u394:hover #u396-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#u394:active #u396-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#u432
{
	width: 189px;
	min-height: 38px;
	margin-right: -10000px;
	left: 469px;
}

#u435
{
	width: 108px;
	padding-left: 40px;
	padding-right: 41px;
	padding-bottom: 2px;
}

#u394.MuseMenuActive,#u435:hover
{
	margin: 0px;
}

#u435:active
{
	margin: 0px;
}

#u435.MuseMenuActive
{
	margin: 0px;
}

#u436-4
{
	width: 108px;
	min-height: 36px;
}

#u394.MuseMenuActive #u396-4,#u435:hover #u436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#u435:active #u436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#u435.MuseMenuActive #u436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px;
}

#ppu652-5
{
	width: 0.01px;
	margin-top: 48px;
	position: relative;
}

#pu652-5
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u652-5
{
	z-index: 5;
	width: 197px;
	min-height: 36px;
	line-height: 43px;
	font-size: 36px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u652-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u652
{
	line-height: 43px;
}

#u652-2
{
	font-size: 24px;
	line-height: 29px;
}

#u653-4
{
	z-index: 10;
	width: 544px;
	min-height: 196px;
	line-height: 29px;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 50px;
	position: relative;
}

#u1512-3
{
	z-index: 14;
	width: 355px;
	min-height: 333px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #959595;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u1514-4
{
	z-index: 41;
	width: 111px;
	min-height: 38px;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 707px;
}

#u488
{
	z-index: 4;
	width: 1160px;
	height: 48px;
	left: -100px;
	margin-top: 215px;
}

body
{
	padding-top: 150px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
}

